<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>547945671500-fn46mt8mjr1pdotu3pdjb47buad448mc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547945671500-fn46mt8mjr1pdotu3pdjb47buad448mc</string>
	<key>API_KEY</key>
	<string>AIzaSyBj1Zuy6wQcprcTJQ22EPPb5isCWNVJhV4</string>
	<key>GCM_SENDER_ID</key>
	<string>547945671500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Nor1.be-in-touch</string>
	<key>PROJECT_ID</key>
	<string>be-in-touch-551d9</string>
	<key>STORAGE_BUCKET</key>
	<string>be-in-touch-551d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547945671500:ios:71702c099c45b6f3d63de9</string>
</dict>
</plist>